@media (min-width: 1170px) {
    .header__favourites {
        top: 33px;
        right: 32px;
    }
    .header__favourites_null {
        top: -97px;
    }

    .header__search {
        flex-direction: row;
    }

    .header__input {
        width: 450px;
        margin-bottom: 0;
        margin-right: 15px;
    }
    .header_null {
        transform: translate(0, 130px);
    }
}