body {
    font-family: $fonts;
    position: relative;
}
.button {
    @extend %button;
}
.button:active, .button:-moz-focusring {
    outline: none;
}
.header {
    padding-top: 40px;
}
.header__head {
    text-align: center;
    padding-bottom: 47px;
}
.header__logo {
    display: inline-block;
}
.header__img {
    display: block;
    width: 302px;
    height: auto;
}
.header__favourites {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
}
.header__star {
    font-size: 1.2rem;
    color: map-get($color, violet);
}
.header__favourite {
    color: map-get($color, violet);
    font-size: 1rem;
    margin-left: 12px;
}

