.main__section {
    width: 240px;
    margin: 0 auto;
}
.main__favorite {
    font-size: 1rem;
    color: map-get($color, violet);
    font-weight: normal;
    margin-bottom: 20px;
}
.main__gallery {
    width: 210px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main__item {
    height: 122px;
    width: 210px;
    border: 1px solid map-get($color , grey );
    background: map-get($color, black );
    margin-bottom: 13px;
    position: relative;
    overflow: hidden;
}
.main__img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.main__more {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
.popup__blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(map-get($color, black), $alpha: 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.popup__img {
    max-width: 90%;
    max-height: 70%;
    margin-bottom: 15px;
}
.popup__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 114px;
    height: 34px;
    border-radius: 10px;
    background: map-get($color , violet );
}
.popup__button, .favorite__button {
    cursor: pointer;
    color: map-get($color, white );
    font-size: 1.5rem;
    background: none;
    border: none;
}
.popup__button:active, .popup__button:-moz-focusring {
    outline: none;
}
.popup__button_star-active {
    color: map-get($color, green );
}
.popup__button_close {
    transition: 0.5s;
}
.popup__button_close:hover {
    transform: rotate(90deg);
}
.main__item_favorite {
    position: relative;
}
.favorite__button {
    position: absolute;
    right: 7px;
    top: 2px;
    z-index: 998;
    cursor: pointer;
    transition: 0.5s;
}
.favorite__button:hover {
    transform: rotate(90deg);
}
.search__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.search__input {
    border-radius: 10px;
    border: 1px solid map-get($color, grey);
    height: 25px;
    color: map-get($color, grey);
    font-size: 0.625rem;
    line-height: 0.625rem;
    padding: 0 15px;
    width: 300px;
    margin-bottom: 10px;
}